.App {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
  background-size: cover;
  text-align: center;
  background-image: url("./assets//imgs/background.jpg");
}
